/* User content styles */
.panel {
    text-align: center;
}

.panel-title {
    text-align: center;
    font-size: 3em;
}

#bio-title {
    padding-top: 10px;
    font-size: 3em;
}

#bio-content {
    width: 70%;
    margin: 0 auto;
    font-size: 1.1em;
}

#location {
    padding-top: 25px;
    font-size: 1.5em !important;
}

#website {
    font-size: 1.5em;
}

.panel span {
    color: orange;
}

.panel img {
    border-radius: 20px;
    border: 3px orange solid;
    padding: 20px;
}


/* Media Queries */

/* Mobile */
@media screen and (max-width: 480px) {
    .container {
        justify-content: center !important;
    }
}